*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: arial, sans-serif;
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;

}

header{
    height: 50px;
    background-color: rgba(43, 116, 43, 0.527);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.hamburguesa{
    font-size: 35px;
    cursor: pointer;
}

.layout{
    display: flex;
    height: calc(100vh - 50px);
}



.sidebar{
    width: 0;
    background-color: #1a6d2f49;
    color: white;
    transition: width 0.3s ease;
    overflow: hidden;
    transform: translateX(-100%);
}


.sidebar.active {
    width: 150px;
    padding: 20px;
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px 20px;
    cursor: pointer;
    transition: background 03s;
    font-weight: bold;
    
}
.sidebar li.active{
    background-color: rgba(255, 255, 255, 0.288);
    color:rgba(0, 0, 0, 0.342);
}

.content{
    flex: 1;
    padding: 20px;
}

.usuario{
    cursor: pointer;
}

main{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px ;
    text-align: center;
}

.tabla-productos{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-productos th,
.tabla-productos td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.tabla-productos th{
    background-color:#e2e8f0 ;
}

.busqueda-modificar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}
button:hover{
    background: rgba(255, 255, 255, 0.664);
}

#busqueda-productos{
    border-radius: 5px;
    border: none;
    padding:5px 5px ;
}

#busqueda-productos:hover{
    border-bottom: 2px solid rgba(3, 255, 3, 0.637);
}

.titlle-inventario{
    color: white;
    width: 100%;
    text-align: center;
}

tbody tr{
    color: white;
    font-weight: bold;
}

.titlle-bienvenido{
    color:white;
    width: 100%;
    text-align: center;
}

.resumen-sistema{
    color:rgba(255, 255, 255, 0.582);
    width: 100%;
    text-align: center;
    padding-top:10px;
}